body{
    background-image: url("../static/images/img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    font-size: 50px;
    font-family: Haettenschweiler, fantasy;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

h2{
    display: flex;
    justify-content: center;
    color: black;
    font-family: Bahnschrift, serif;
    font-size: 20px;
    margin-left: 20px;
}

.ps{
    display: flex;
    justify-content: center;
    margin-right:150px;
    margin-bottom: -30px;
    color: black;
    flex-direction: row;
    block-size: 55px;

}

.ps, li{
    display: flex;
    flex-direction: row;
}

p{
    margin-right: 5px;
    margin-left:5px;
    border: solid black 2px;
    background-color: yellow;
    min-width: 8%;
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ul_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    display: flex;
    margin: auto;
}

.name_and_price_flex{
    display: flex;
    justify-content: center;
    font-size: 16px ;
    opacity: 100%;
    background-color: aliceblue;
    background-size:contain;
    border: solid black 1px;
    margin-right:5px;
}

.name_flex{
    margin-right: 90px;
    margin-left: 20px;
    display: flex;
}

.price_flex{
    margin-right: 20px;
    display: flex;

}

.price_flex p{
    background-color: aliceblue;
    border: hidden;
    margin: auto;
    margin-left: 4px;
    font-variant: all-petite-caps;
    font-size: 16px;
    color: darkgreen;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    opacity: 100%;
}

button{
    display: flex inline;
    justify-content: center;
    padding: 13px 16px;
    margin-top:5px;
    margin-left: 2px;
    font-size: 16px;
    font-family: Dialog, sans-serif, "monospace";
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(0,0,0);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.5s;
}

button:hover{
    font-size: 17px;
}

#update_button:hover{
    color: blue;
    background-color: black;
    border-color: darkblue;
}

#delete_button:hover{
    color: red;
    background-color: black;
    border-color: darkred;
}

#create_button{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 8px 8px 40px 55px;

}

#create_button button:hover{
    color: lawngreen;
    background-color: black;
    border-color: lawngreen;
}

.background-filler{
    border: solid black 1px;
    background-color: darkseagreen;
    width: -moz-fit-content;
    margin:auto;
    padding: 2px 20px 10px;
    padding-right: 25px;
    padding-left: 3px;
}

/* Create Product below */

h3{
    display: flex;
    justify-content: center;
    color: black;
    font-family: Bahnschrift, serif;
    font-size: 40px;
    margin-left: 20px;
}

.info_about_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: initial;
    min-width: 15%
}

.info_about_product input{
    block-size: 30px;
    display: flex;
    justify-content: center;
    margin: 10px 10px
}

.add_button{
    display: flex;
    justify-content: center;
    block-size: 50px;
    margin-top: 25px;
}

.add_button button:hover{
    color: lawngreen;
    background-color: black;
    border-color: lawngreen;
}

/* Update product page below */

h2{
    font-size:40px;
}

.update_product_main{
    display: flex;
    flex-direction: column;
}

.product_update_form{
    display: flex;
    flex-direction: row;
    color: black;
    font-family: Bahnschrift, serif;
}

.product_update_form input{
    margin-left: 3px;
    margin-right: 15px;
}

.update_product_main button{
    display: flex;
    justify-content: center;
    block-size: 50px;
    margin-top: 10px;
    margin-left: 55px;
    width: 80%;
}

.update_product_main button:hover{
    color: blue;
    background-color: black;
    border-color: darkblue;
}