<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

    <h3>Add a product to the list</h3>

    <form action="/update_product_info">

        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Enter name of item">
        <label for="price"></label>
        <input type="number" id="price" name="price" placeholder="Enter price of item">

        <button type="submit">Add Product</button>
    </form>

</body>
</html>