<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="..//static/product_page_style.css" rel="stylesheet" type="text/css">
    <title>Add a product</title>
</head>
<body>

    <h3>Add a product to the list</h3>

    <form action="/product_created" method="post">

        <div class="info_about_product">
        <label for="name"></label>
        <input type="text" id="name" name="product_name" placeholder="Enter name of item">
        <label for="price"></label>
        <input type="number" id="price" name="product_price" placeholder="Enter price of item">
        </div>

        <div class="add_button">
        <button type="submit" name="prod_id" th:value="${id}" th:placeholder="${id}">Add Product</button>
        </div>

    </form>

</body>
</html>