<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body bgcolor="#006400">

    <p>Here are the products</p>

    <ul th:each="product : ${product_list}">

        <li th:text="${product}"></li>

        <!--
        <label for="product_name">Name</label>
        <input type="text" id="product_name" name="product_name" th:placeholder="${product.getName}">
        <label for="product_price">Price</label>
        <input type="text" id="product_price" name="product_price" th:placeholder="${product.getPrice}">

        <label for="product_id"></label>
        <input type="hidden" id="product_id" name="product_id" th:value="${product.getId}">
        -->
        <label for="prod_id"></label>
        <input type="hidden" id="prod_id" th:name="prod_id" th:value="${product.getId}">

        <a href="/update_product_page" th:value="${product.getId}"><button type="button" name="prod_id"></button></a>
    </ul>

</body>
</html>