<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>

    <p>Here are the products</p>


    <ul th:each="product : ${product_list}">

        <li th:text="${product.getId}" hidden></li>
        <li th:text="${product}"></li>

        <form action="/direct_to_update_product_page" method="post">
        <button type="submit" name="product_id" th:value="${product.getId}" th:placeholder="${product.getId}">Update</button>
        </form>

        <form action="/direct_to_delete_product" method="post">
        <button type="submit" name="delete_product" th:value="${product.getId}" th:placeholder="${product.getId}">Delete</button>
        </form>

    </ul>

    <a href="/create_product"><button>Add a product</button></a>

</body>
</html>