<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update a product</title>
</head>
<body>

    <h2>Update your product, by name or price</h2>

    <form action="/update_product_info" method="post">

            <p th:text="${product}"></p>

            <label for="product_name">Name</label>
            <input type="text" id="product_name" name="product_name" th:placeholder="${product.getName}">
            <label for="product_price">Price</label>
            <input type="text" id="product_price" name="product_price" th:placeholder="${product.getPrice}">

            <label for="prod_id"></label>
            <input type="hidden" id="prod_id" name="prod_id" th:value="${product.getId}" placeholder="${product.getId}" readonly>

            <button type="submit">Update product</button>

    </form>

</body>
</html>